<script id="ModalAddFormacionUsuariosTem" type="text/x-mustache-template">
    {{#listUsuarios}}
    <option value="{{Id}}">{{DNI}} - {{TextoUsuario}}</option>
    {{/listUsuarios}}
</script>
<script id="ModalAddFormacionModulosTem" type="text/x-mustache-template">
    {{#listModulos}}
    <option value="{{IdModulo}}">{{TextoModulo}}</option>
    {{/listModulos}}
</script>
<script id="ModalAddFormacionRolTem" type="text/x-mustache-template">
    {{#listRoles}}
    <option value="{{Id}}">{{Rol}}</option>
    {{/listRoles}}
</script>