<div class="row row-cols-1 row-cols-md-6" id="menuPrincipal">
    {{#listDepartamentos}}
        <div class="card m-2">
            <img src="config/logos/{{Alias}}.jpg" class="card-img-top" alt="{{Titulo}}">
            <div class="card-body">
                <h5 class="card-title"><a href="{{Alias}}/index.php">{{Titulo}}</a></h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    {{/listDepartamentos}}
</div>
<style>
    .card-img-top{
        min-height: 10rem;
    }
</style>