<div class="row row-cols-1 row-cols-md-6" id="menuPrincipal">
    <div class="card m-2">
        <img src="config/logos/certificados.jpg" class="card-img-top" alt="Cer Profesionalidad">
        <div class="card-body">
            <h5 class="card-title"><a href="certificados/index.php">Certificados Profesionalidad</a></h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card m-2">
        <img src="config/logos/formaciones.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a href="cursos/index.php">Formaciones</a></h5>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>