<div class="modal fade" id="modalModOcupacion" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-top border-bottom-0">
                <h5 class="modal-title text-oficial">Modificar ocupación</h5>
            </div>
            <div class="modal-body" id="modalModOcupacionBody">
                <form id="modalModOcupacionForm" method="post" action="ajax/saveOcupacion.php">

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#modalModOcupacionForm').ajaxForm({
        beforeSubmit : function(formData, $form, options){
            if(!formData[0].value){
                alert('Existe un problema con el Id de la ocupación. Contacte con el CAU. Código 1.');
                return false;
            }
            if(!formData[1].value){
                alert('Existe un problema con el Código de la ocupación. Contacte con el CAU. Código 1.');
                return false;
            }
            if(!formData[2].value){
                alert('Debes insertar un nombre a la ocupación.');
                return false;
            }else{
                return true;
            }
        },
        success : function(data){
            if(data.resultado===true){
                $("#OcupCertificadoTableBody").html(Mustache.render($('#OcupCertificadoTableTem').html(),data));
                $('[data-toggle="popover"]').popover();
                $('#modalModOcupacion').modal('hide');
            }else{
                alert('Se ha producido un error al actualizar la ocupación al certificado. Código 1.');
            }
        }
    });
    $('body').on( 'click', '.selOcupacion', function () {
        $.ajax({
            url: "ajax/obterOcupacion.php",
            data: {IdOcupacion:$(this).attr('data-IdOcupacion'),'IdCert':{{IdCert}} },
            type: "POST",
            dataType: "json",
            success: function (data) {
                if(data.resultado===true){
                    $("#modalModOcupacionForm").html(Mustache.render($('#modalModOcupacionFormTem').html(),data));
                }else{
                    alert("No se ha podido cargar las familias formativas. Contacta con el CAU. Código 1.");
                }
            }
        }).fail(function () {
            alert("No se ha podido cargar las familias formativas. Contacta con el CAU. Código 2.");
        });
    });
</script>