<script id="OcupCertificadoTableTem" type="text/x-mustache-template">
    {{#listOcupaCert}}
    <tr>
        <td class="align-middle text-center">
            <a href="#" class="delOcupaCertSel" data-IdOcupacion='{{IdOcupacion}}' data-IdCertificado='{{IdCertificado}}' data-toggle="popover" data-trigger="click" data-html="true" title="<span class='titlePopover' style='font-size:1rem'>¿Desea borrar la ocupación seleccionada?</span>" data-content="<p class='textPopover d-flex justify-content-around'><a class='delOcupCertButton' aria-Id='{{Id}}'  aria-IdOcupacion='{{IdOcupacion}}' aria-IdCertificado='{{IdCertificado}}' href='#' title='SI' ><i class='far fa-thumbs-up fa-2x text-success'></i></a><a title='NO' href='#' class='noDelOcupCertButton'><i class='far fa-thumbs-down fa-2x text-danger'></i></a></p>">
                <i class="far fa-trash-alt"></i>
            </a>
        </td>
        <td class="align-middle text-center">
            <a href="#" class="selOcupacion" data-IdOcupacion='{{IdOcupacion}}' data-IdCertificado='{{IdCertificado}}'  data-toggle="modal" data-target="#modalModOcupacion"  title="Modificar ocupación">
                {{IdOcupacion}}
            </a>
        </td>
        <td class="align-middle">{{Nombre}}</td>
    </tr>
    {{/listOcupaCert}}
    {{^listOcupaCert}}
    <tr>
        <td colspan="3" class="text-center">Este certificado no tiene ocupaciones.</td>
    </tr>
    {{/listOcupaCert}}
</script>
<script id="OcupOptionTem" type="text/x-mustache-template">
    {{#listOcupaciones}}
    <option value="{{TextoOcupacion}}">
        {{/listOcupaciones}}
</script>
<script id="newOCupCertListFamiliasTem" type="text/x-mustache-template">
    {{#listFamilias}}
    <option value="{{TextoFamilia}}">
        {{/listFamilias}}
</script>