<script id="modalModOcupacionFormTem" type="text/x-mustache-template">
    {{#Ocupacion}}
    <input type="hidden" name="Id" value="{{Id}}">
    <input type="hidden" name="IdCert" value="{{IdCert}}">
    <div class="row">
        <div class="input-group mb-2 col-sm-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Codigo</span>
            </div>
            <input type="text" name="Codigo" autocomplete="off" value="{{Codigo}}" class="form-control">
        </div>
        <div class="input-group mb-2 col-sm-9">
            <div class="input-group-prepend">
                <span class="input-group-text">Denominación</span>
            </div>
            <input type="text" name="Denominacion" autocomplete="off" value="{{Denominacion}}" class="form-control">
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-oficial" type="submit">
            <i class="far fa-save fa-lg" title="Guardar"></i>
        </button>
    </div>
    {{/Ocupacion}}
</script>
