<div class="modal fade" id="modalAddOcupacion" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title text-oficial">Añadir ocupación existente</h5>
            </div>
            <div class="modal-body">
                <form id="addOcupCert" method="post" action="ajax/addOcupCert.php">
                    <input type="hidden" name="IdCertificado" value="{{IdCert}}">
                    <div class="row">
                        <div class="input-group mb-2 col-sm-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-OcupacionSearch">Ocupación</span>
                            </div>
                            <select name="IdOcupacion" class="form-control selectpicker" id="modalAddOcupacionSelect" aria-label="Ocupación" aria-describedby="basic-OcupacionSearch"></select>
                            <button class="btn btn-oficial btn-lisoIzq" id="addOcupacionButton" type="submit">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-header border-top border-bottom-0">
                <h5 class="modal-title text-oficial">Crear una nueva ocupación</h5>
            </div>
            <div class="modal-body">
                <form id="newOCupCert" method="post" action="ajax/newOcupAddCert.php">
                    <input type="hidden" name="IdCertificado" value="{{IdCert}}">
                    <div class="row">
                        <div class="input-group mb-2 col-sm-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-CodigoOcupa">Código</span>
                            </div>
                            <input type="text" pattern="[0-9]{8}" minlength="8" maxlength="8" name="Codigo" autocomplete="off"  class="form-control" aria-label="Código" aria-describedby="basic-CodigoOcupa">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-NombreOcupa">Nombre</span>
                            </div>
                            <input type="text" name="Nombre" maxlength="250" autocomplete="off" class="form-control" aria-label="Nombre" aria-describedby="basic-NombreOcupa">
                            <button class="btn btn-oficial btn-lisoIzq" type="submit">
                                <i class="far fa-save fa-lg" title="Guardar"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#addOcupCert').ajaxForm({
        beforeSubmit : function(formData, $form, options){
            if(!formData[0].value){
                alert('Existe un problema con el ID del Certificado. Contacte con el CAU. Código 1.');
                return false;
            }
            if(!formData[1].value){
                alert('Debes insertar un Codigo de ocupación');
                return false;
            }else{
                return true;
            }
        },
        success : function(data){
            if(data.resultado===true){
                $('#OcupCertificadoTableBody').html(Mustache.render($('#OcupCertificadoTableTem').html(),data));
                $('#modalAddOcupacion').modal('hide');
                $('#OcupacionSearch').val('');
                $('[data-toggle="popover"]').popover();
            }else{
                alert('Se ha producido un error al asignar la ocupación al certificado. Código 1.');
            }
        }
    });
    $('#newOCupCert').ajaxForm({
        beforeSubmit : function(formData, $form, options){
            if(!formData[0].value){
                alert('Existe un problema con el ID del Certificado. Contacte con el CAU. Código 1.');
                return false;
            }
            if(!formData[1].value){
                alert('Debes insertar un Código de ocupación');
                return false;
            }else{
                if(!validarCodOcupa(formData[1].value)){
                    alert('Debes insertar un Código de ocupación válido.');
                    return false;
                }
            }
            if(!formData[2].value){
                alert('Debes insertar un nombre a la ocupación.');
                return false;
            }else{
                return true;
            }
        },
        success : function(data){
            if(data.resultado===true){
                $('#OcupCertificadoTableBody').html(Mustache.render($('#OcupCertificadoTableTem').html(),data));
                $('#modalAddOcupacion').modal('hide');
                $("#newOCupCert")[0].reset();
                $('[data-toggle="popover"]').popover();
            }else{
                alert('Se ha producido un error al crear y asignar la ocupación al certificado. Código 1.');
            }
        }
    });
    $('#modalAddOcupacion').on('show.bs.modal', function (e) {
        $('#newOCupCert').resetForm();
        $('#addOcupCert').resetForm();
        $('#modalAddOcupacionSelect').selectpicker('deselectAll');
        $('#modalAddOcupacionSelect').selectpicker('refresh');
        $.ajax({
            url: "ajax/obterOcupaciones.php",
            data: {},
            type: "POST",
            dataType: "json",
            success: function (data) {/*modalAddOcupacionSelect*/
                if(data.resultado===true){
                    $("#modalAddOcupacionSelect").html(Mustache.render($('#OcupOptionTem').html(), data));
                    $("#modalAddOcupacionSelect").selectpicker('refresh');
                }else{
                    alert('Se ha producido un error al listar las ocupaciones. Código 1.');
                }
            }
        }).fail(function () {
            alert('Se ha producido un error al listar las ocupaciones. Código 2.');
        });
    })
</script>