<script id="modalModOcupacionListFamiliasTem" type="text/x-mustache-template">
    {{#listFamilias}}
    <option value="{{TextoFamilia}}" {{#selected}}selected{{/selected}}>
    {{/listFamilias}}
</script>
<script id="modalModOcupacionFormTem" type="text/x-mustache-template">
    {{#Ocupacion}}
    <input type="hidden" name="IdOcupacion" value="{{IdEspecialidad}}">
    <input type="hidden" name="IdModalidad" value="{{Modalidad}}" id="modalModOcupacionFormModalidad">
    <div class="row">
        <div class="input-group mb-2 col-sm-12">
            <div class="input-group-prepend">
                <span class="input-group-text">Familia</span>
            </div>
            <input type="text" list="modalModOcupacionListFamilias" value="{{TextoFamiliaProfesional}}" id="modalModOcupacionIdFamilia" name="IdFamilia" autocomplete="off"  class="form-control" aria-label="ListFamilias">
            <datalist id="modalModOcupacionListFamilias">
            </datalist>
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-2 col-sm-7">
            <div class="input-group-prepend">
                <span class="input-group-text">Nombre</span>
            </div>
            <input type="text" name="Nombre" autocomplete="off" value="{{Nombre}}" class="form-control">
        </div>
        <div class="input-group mb-2 col-sm-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-ModalidadOcupa">Modalidad</span>
            </div>
            <select class="form-control" name="Modalidad" id="modalModOcupacionlistModalidades" aria-label="Modalidad" aria-describedby="basic-ModalidadOcupa">
            </select>
        </div>
        <div class="input-group mb-2 col-sm-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-PropiaCheckbox">Propia</span>
            </div>
            <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-PropiaCheckbox1">
                        <input value="1" class="" {{#PropiaChecked}}checked{{/PropiaChecked}} type="checkbox" name="Propia" aria-label="PropiaCheckbox" aria-describedby="basic-PropiaCheckbox">
                    </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-2 col-sm-12">
            <div class="input-group-prepend">
                <div class="input-group-text" id="basic-Observaciones">Observaciones</div>
            </div>
            <textarea class="form-control" name="observaciones" aria-label="Observaciones" aria-describedby="basic-Observaciones">{{Observaciones}}</textarea>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-oficial" type="submit">
            <i class="far fa-save fa-lg" title="Guardar"></i>
        </button>
    </div>
    {{/Ocupacion}}
</script>
<script id="modalModOcupacionlistModalidadesTem" type="text/x-mustache-template">
    {{#listModalidades}}
    <option value="{{Id}}" {{Selected}}>{{Nombre}}</option>
    {{/listModalidades}}
    {{^listModalidades}}
    <option>No se ha podido cargar las modalidades</option>
    {{/listModalidades}}
</script>